*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.5s ease-in-out; /* добавим плавность переходов для всех элементов страницы*/
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
}
img {
  display: block;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  letter-spacing: 1px;
}
body {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 100%; /*важно указать в относительных единицах*/
  /* line-height: 1; */

  background: #f7f7f7;
  /* height: 100%;
  width: 100%; */
}
/* добавим очистку потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */
header:after,
.container:after,
footer:after,
.widget-posts-list li:after,
#subscribe:after {
  content: '';
  display: table;
  clear: both;
}
